============================================================
====               This is VibeChild.com                ====
====                                                    ====
====     Computers are your friends. We're not evil     ====
====               We Promise.  Trust us.               ====
============================================================
This machine is on the {{ ansible_domain }} domain
